services:
  app:
    build:
      context: .
      target: app
    container_name: laravel_app_dev
    env_file: .env
    volumes:
      - .:/var/www
    ports:
      - "9000:9000"
    networks:
      - app_net
    depends_on:
      - db
      - redis

  queue:
    build:
      context: .
      target: worker
    container_name: laravel_queue_dev
    restart: unless-stopped
    env_file: .env
    volumes:
      - .:/var/www
    depends_on:
      - redis
      - db
    networks:
      - app_net

  nginx:
    image: nginx:latest
    container_name: laravel_nginx_dev
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app_net

  vite:
    image: node:20-alpine
    container_name: laravel_vite_dev
    working_dir: /var/www
    command: sh -c "npm ci && npm run dev -- --host 0.0.0.0 --port 5173"
    ports:
      - "5173:5173"
    environment:
      - HOST=0.0.0.0
      - PORT=5173
    volumes:
      - .:/var/www
      - node_modules:/var/www/node_modules
    depends_on:
      - app
    networks:
      - app_net

  db:
    image: postgres:15-alpine
    container_name: laravel_postgres_dev
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data_dev:/var/lib/postgresql/data
    networks:
      - app_net

  redis:
    image: redis:7-alpine
    container_name: laravel_redis_dev
    networks:
      - app_net

volumes:
  pg_data_dev:
  node_modules:

networks:
  app_net:
    external: true
    name: app_net
