services:
  app:
    build:
      context: .
      target: app
    container_name: laravel_app
    env_file: .env
    depends_on:
      - db
      - redis
    networks:
      - app_net

  queue:
    build:
      context: .
      target: worker
    container_name: laravel_queue
    restart: unless-stopped
    env_file: .env
    depends_on:
      - redis
      - db
    networks:
      - app_net

  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./public:/var/www/public:ro
    depends_on:
      - app
    networks:
      - app_net

  db:
    image: postgres:15-alpine
    container_name: laravel_postgres
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app_net

  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    networks:
      - app_net

volumes:
  pg_data:

networks:
  app_net:
    driver: bridge
